# String, optional (defaults to srcwrs)
# Name of the database to store the information in.
DBName=srcwrs

# String, optional (defaults to localhost)
# Endpoint of the host which has the database.
DBHost=localhost

# Integer, optional (defaults to 3306)
# The port to connect to the database on.
DBPort=3306

# String, optional (defaults to root)
# The username to log into on the database.
DBUser=root

# String, required.
# The password to log into the user on the database.
DBPass=root

# Boolean, optional (defaults to false)
# Synchronises the database schema to the code. Could make damaging changes.
DBSync=false


# String, required.
# The API key of the discord bot account to log into.
DiscordToken=TOKEN_HERE
# String, required.
# The discord account ID of the bot.
DiscordClient=ID_HERE
# String, required.
# The admin account's ID.
DiscordAdmin=ID_HERE
# String, required.
# The ID of the guild to administrate the account in.
DiscordAdminGuild=ID_HERE
# Boolean, optional (defaults to true)
# Updates the command on the administrative discord guild with what's in code.
DiscordSyncCommands=false